<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
  {% section 'hero-banner' %}
  <script src="{{ 'script.js' | asset_url }}"></script>
</body>
</html>
