<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="/">{{ shop.name }}</a>
    </div>
    <nav class="main-nav">
      <a href="/">الرئيسية</a>
      <a href="/collections">الأقسام</a>
      <a href="/contact">اتصل بنا</a>
    </nav>
  </div>
</header>
