body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

.site-header, .site-footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: #f2f2f2;
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.btn {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
