body {
  font-family: "Cairo", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.hero-banner {
  text-align: center;
  padding: 80px 20px;
}

.btn {
  background: #2b6cb0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
}
