body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.hero-banner {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  background: #0070f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
}
